<div class="signup-page">
  <div class="container">
    <div class="box">
      <h2 class="text-center">Join to <%= @company.name %></h2>

      <%= form_for(@user, url: create_account_invites_path) do |f| %>
        <div class="row">
          <div class="col-md-6">
            <div class="field">
              <%= f.label :first_name %><br />
              <%= f.text_field :first_name, autofocus: true, class: 'form-control' %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="field">
              <%= f.label :last_name %><br />
              <%= f.text_field :last_name, autofocus: true, class: 'form-control' %>
            </div>
          </div>
        </div>

        <br />
        <div class="field">
          <%= label_tag 'Company Name' %><br />
          <%= @company.name %>
        </div>
        <br />

        <%= hidden_field_tag :company_id, @company.id %>
        <%= hidden_field_tag :invite_code, @company.invite_code %>

        <div class="field">
          <%= f.label :email %><br />
          <div class="form-inline">
          <%= f.text_field :email, autofocus: true, class: 'form-control' %> <span>@ <%= @company.domain %></span>
          </div>
        </div>

        <div class="field">
          <%= f.label :password %>
          <em>(8 characters minimum)</em>
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        </div>
        <br />
        <div class="actions">
          <%= f.submit "Sign up", class: "btn-success btn-full-width btn" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
