<h1>Your Cart</h1>
<ul class="order-items">
  <% current_user.carts.each do |cart| %>
    <li class="order-item">
      <span class="order-item-name"><%= cart.item.name %></span>
      <span class="order-item-price">$ <%= cart.amount %></span>
      <span class="order-item-price">
        <% if cart.item.amount_save.present? %>
          <b><%= cart.item.amount_save %>% discount</b>
        <% end %>
      </span>
      <%= form_tag cart_path(cart.id), method: :delete, remote: true do %>
        <%= hidden_field_tag :cart_id, cart.id %>
        <%= submit_tag "Remove", class: 'btn btn-danger' %>
      <% end %>
    </li>
  <% end %>
</ul>
<br />
<div class="checkout">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-8">
        <span class="total-checkout">
          Total to pay:
        </span>
      </div>
      <div class="col-md-4">
        <span class="total-checkout-amount">
          $ <%= @total_checkout %>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-8">
        <span class="total-checkout">
          You get credit for:
        </span>
      </div>
      <div class="col-md-4">
        <span class="total-checkout-amount">
          $ <%= @total_checkout_credit %>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-8">
        <span class="total-checkout">
          You get for <b>free</B>: 
        </span>
      </div>
      <div class="col-md-4">
        <span class="total-checkout-amount">
          <% @save = @total_checkout_credit - @total_checkout %>
          $ <%= @save %>
        </span>
      </div>
    </div>
  </div>
</div>
<br />
