<h5>Your credit available is <%= current_user.monthly_budget_left.to_i %>$/month</h5>
<ul class="order-items">
  <% current_user.carts.each do |cart_element| %>
    <%= render partial: 'shared/cart_element', locals: {cart_element: cart_element}%>
  <% end %>
</ul>
<br />
<div class="checkout">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-8">
        <span class="total-checkout">
          Total to pay:
        </span>
      </div>
      <div class="col-md-4">
        <span class="total-checkout-amount">
          $ <%= @total_checkout %>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-8">
        <span class="total-checkout">
          You get credit for:
        </span>
      </div>
      <div class="col-md-4">
        <span class="total-checkout-amount">
          $ <%= @total_checkout_credit %>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-8">
        <span class="total-checkout">
          You get for <b>free</B>: 
        </span>
      </div>
      <div class="col-md-4">
        <span class="total-checkout-amount">
          <% @save = @total_checkout_credit - @total_checkout %>
          $ <%= @save %>
        </span>
      </div>
    </div>
  </div>
</div>
<br />
