<h2 style="text-align: center;">Your perks</h2>
<% if current_user.monthly_budget_left == 0 %>
  <div class="checkout">
    <div class="row">
      <div class="col-md-12">
        <p>
          You have no more credit for <%= display_full_next_month %>. You can always manage your subscriptions by clicking above!
        </p>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-md-12">
        <%= link_to 'Manage subscriptions', item_subscriptions_path, class: "btn btn-success full-width-u" %>
      </div>
    </div>
  </div>
<% else %>
  <ul class="order-items">
    <% current_user.carts.order(:created_at).each do |cart_element| %>
      <%= render partial: 'shared/cart_element', locals: {cart_element: cart_element}%>
    <% end %>
  </ul>
  <br />
  <div class="checkout">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-7">
          <span class="total-checkout">
            Credit available:
          </span>
        </div>
        <div class="col-md-5">
          <span class="total-checkout-amount">
            $ <%= current_user.monthly_budget_left.to_i %>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-7">
          <span class="total-checkout">
            Credit left:
          </span>
        </div>
        <div class="col-md-5">
          <span class="total-checkout-amount <%= 'has_error' if current_user.monthly_budget_left < @total_checkout %> ">
            $ <%= (current_user.monthly_budget_left - @total_checkout).to_i %>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-7">
          <span class="total-checkout">
            Credit valid for:
          </span>
        </div>
        <div class="col-md-5">
          <span class="total-checkout-amount">
            <%= display_next_month %>
          </span>
        </div>
      </div>
    </div>
  </div>
  <br />
  <% if current_user.monthly_budget_left < @total_checkout %>
    <%= link_to 'Not enough credit :(', create_subscriptions_item_subscriptions_path, class: "btn btn-success full-width-u disabled" %>
  <% elsif @carts.empty? %>
    <%= link_to 'Empty cart', pre_checkout_item_subscriptions_path, class: "btn btn-success full-width-u disabled" %>
  <% elsif current_user.monthly_budget_left > @total_checkout %>
    <%= link_to "#{(current_user.monthly_budget_left - @total_checkout).to_i}$ still to add", pre_checkout_item_subscriptions_path, class: "btn btn-success full-width-u disabled" %>
  <% else %>
    <%= link_to 'Checkout', pre_checkout_item_subscriptions_path, class: "btn btn-success full-width-u" %>
  <% end %>
<% end %>