<div id="catalogue">

  <!-- not in layout due to turbolinks reloads -->
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
       <button type="button" class="close" data-dismiss="alert">&times;</button>
       <%= value %>
     </div>
  <% end %>

  <%= render partial: 'shared/info_bar' %>
  <%= render partial: 'shared/headline' %>

  <div class="container" style="padding-top:30px;">

    <%= render partial: 'shared/categories' %>

      <% @available_perks.each_slice(4) do |slice| %>
        <div class="row" style="padding-top:20px;" >
          <% slice.each do |perk| %>
            <%= render partial: 'shared/catalogue_perk', locals: {perk: perk} %>
            <%= render partial: 'shared/catalogue_modal', locals: {perk: perk} %>
          <% end %>
        </div>
      <% end %>
  <!--     <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="thumbnail">
        <img src="img/perk-logo.png" alt="...">
        <div class="caption">
          <h3>Suggest perk</h3>
          <p>What kind of service would you like to find on Workful?</p>
          <p><input type="text" class="form-control" placeholder="What about...?" aria-describedby="basic-addon1"></p>
          <p class=" text-center"><button type="button" class="btn btn-primary btn-group-justified">Suggest perk</button></p>
        </div>
      </div>-->
    </div>
  </div>
</div>