<div class="container">
  <div class="row">
    <div class="col-md-12 box-white">
      <h1>Configure Company</h1>
      <%= form_for @company, remote: true do |f| %>
        <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="field">
          <%= f.label :domain %>
          <div class="form-inline">
            @ <%= f.text_field :domain, class: 'form-control' %>
          </div>
        </div>
        <div class="field">
          <%= f.label :monthly_budget, 'Monthly Budget per employee' %>
          <div class="form-inline">
         $  <%= f.text_field :monthly_budget, class: 'form-control' %>
          </div>
        </div>
        <br />
        <br />
        <div class="field actions">
          <%= f.submit 'Next step', class: "btn-success btn-full-width btn" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row" style="margin-top: 15px;">

    <center>You need help ? write to: <a href="mailto:hello@workful.co">hello@workful.co</a></center>
  </div>
</div>
