<!DOCTYPE html>
<html>
<head>
  <title>Workful</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <% if current_user %>
    <%= render 'shared/navbar' %>
  <% end %>
  <% if notice.present? || alert.present? %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  <% end %>
<%= yield %>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
  Stripe.setPublishableKey('pk_test_p7iFs5JNt7Y5fbDaI6fUTHCd');
</script>
</body>
</html>
