<!DOCTYPE html>
<html>
<head>
  <title>Workful</title>
  <%= stylesheet_link_tag    'authentication', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'authentication', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
<%= yield %>
</body>
</html>
