<!DOCTYPE html>
<html>
<head>
  <title>Workful</title>
  <%= stylesheet_link_tag    'landing', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'landing', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>

  <meta property="og:url"content="http://www.workful.co/" />
  <meta property="og:title"content="Workful - Customized perks for everyone" />
  <meta property="og:description" content="Workful enable growing companies to increase the quality and variety of benefits by offering customized perks to their employees, with no effort and no additional costs." />
  <meta property="og:image" content="<%= asset_url('logo_color_metadata.png') %>" />

</head>
<body class="<%= body_class %>">
  <%= yield %>
</body>
</html>
